version: '3.8'

services:

  # Redis缓存和消息队列
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"


  # Django后端
  backend:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8010:8010"
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.development
      - REDIS_URL=redis://redis:6379/5
    depends_on:
      - redis

  # Celery Worker
  celery:
    build:
      context: .
      dockerfile: docker/Dockerfile
    command: celery -A config worker -l info
    volumes:
      - ./backend:/app
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.development
      - REDIS_URL=redis://redis:6379/5
    depends_on:
      - redis

  # Vue前端
  frontend:
    build:
      context: .
      dockerfile: docker/frontend.Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - backend

